@model Multiplos_Itens.Models.AgruparModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Produtos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" id="formulario">
            <table>
                <tr>
                    <th>Nome</th>
                    <th><a class="btn btn-primary" onclick="adicionarCampo()"> + </a></th>
                    <th><a class="btn btn-primary" onclick="removerCampo()"> - </a></th>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="Produtos[0].Nome" class="control-label"></label>
                            <input asp-for="Produtos[0].Nome" class="form-control field" onblur="validaForm()" />
                            <span asp-validation-for="Produtos[0].Nome" class="text-danger"></span>
                        </div>
                    </td>
                    <div id="moreItens">
                    </div>
                </tr>
            </table>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-4">
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
