@model Multiplos_Itens.Models.AgruparModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Produtos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" id="formulario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Produtos[0].Nome" class="control-label"></label>
                <input asp-for="Produtos[0].Nome" class="form-control field" />
                <span asp-validation-for="Produtos[0].Nome" class="text-danger"></span>
            </div>
            <div id="moreItens">

            </div>
            <a class="btn" onclick="validaForm()">valida</a>
            <div class="col-md-4">
                <a class="btn btn-primary" onclick="adicionarCampo()"> + </a>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
